[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "clmstan"]
	path = clmstan
	url = https://github.com/t-momozaki/clmstan
[submodule "mhn"]
	path = mhn
	url = https://github.com/t-momozaki/mhn
